[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = iambatman
[access "refs/*"]
	owner = group user/mg19962310
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mg19962310
	label-Verified = -1..+1 group user/mg19962310
	push = group user/mg19962310
	read = group user/mg19962310
	rebase = group user/mg19962310
	removeReviewer = group user/mg19962310
	submit = group user/mg19962310
[access "refs/heads/*"]
	create = group user/mg19962310
	push = +force group user/mg19962310
	pushMerge = group user/mg19962310
	read = group user/mg19962310
[access "refs/tags/*"]
	push = group user/mg19962310
	push = +force group user/mg19962310
